.project-panel {
	border-width: 0px 0px 1px 0px;
	border-style: solid;
}

.project-line {
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	padding: 2em;
}

.selected-project-line {
	background-color: #cccccc;
}