.entity-list {
	border-width: 0px 1px 1px 1px;
	border-style: solid;
}

.entity-line {
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	line-height: 4em;
	clear: both;
}

.entity-content {
	line-height: 4em;
	display: inline;
}

.entity-button {
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	background-color: #bbbbbb;
	float: left;
	padding: 0 10px 0 10px;
	height: 4em;
}

.selected-entity-line {
	background-color: #cccccc;
}